body {
    background-color: black;
}

.gameAreaBackground {
    margin-top: 20px;
    margin-left: 20%;
    width: 800px;
    height: 700px;
    background-color: tomato;
    border: 8px outset silver;    
    padding: 15px;
}

.gameHeader {
    margin: 5px;
    height: 100px;
    border: 10px inset silver; 
    background-color: skyblue;
    text-align: center;
}

.headerImage {
    height: 100px;
    width: 135px;
}

.mainGameArea {
    margin: 5px;
    margin-top: 15px;
    height: 520px;
    border: 10px inset silver;
    background-color: black;
    background-image: url("../images/MainGameArea-Background.png")
}

.mainGameArea::after {
    content: "";
    display: block;
    clear: both;
}

#directions-text {
    margin: 8px;
    height: 25px;
    border: 2px inset silver;
    background-color: black;
    text-align: center;
    padding-top: 5px;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
}

.leftGameArea {
    float: left;
    margin: 8px;
    width: 70%;
    height: 430px;
    border: 2px inset silver;
    background-color: black;
    padding-top: 5px;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
}

.rightGameArea {
    float: right;
    margin: 8px;
    margin-left: 2px;
    width: 25%;
    height: 430px;
    border: 2px inset silver;
    background-color: gray;
    padding-top: 5px;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
}

#worldCaptureEscape {
    margin: 12px;
    height: 262px;
    width: 504px;
    border: 5px inset silver;
    background-color: gray;
}

#guessCountryAreaBanner {
    position: relative;
    top: -8px;
    height: fit-content;
    padding: 1px;
    background-color: gray;
    text-align: center;
    border-top: 2px outset silver;
    border-bottom: 2px outset silver;
}

#guessCountryAreaBanner::after {
    content: "";
    display: block;
    clear: both;
}

.breifingText {
    float: left;
    margin: 8px;
    width: 140px;
    height: 100px;
    padding: 2px;
    border: 2px inset silver;
    text-align: left;
    font-size: 10px;
    background-color: papayawhip;
    color: black;
}

.instructionsText {
    float: right;
    margin: 8px;
    width: 140px;   
    height: 100px;
    padding: 2px;
    border: 2px inset silver;
    text-align: left;
    font-size: 10px;
    background-color: papayawhip;
    color: black;
}

.breifingHeader {
    margin: 2px;
    padding: 2px;
    color: red;
    font-size: 12px;
}

.textContent {
    margin: 2px;
    padding: 2px;
}

#guessCountryTextArea {
    float: left;
    margin: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 2px;
    padding-right: 4px;
    padding-left: 4px;
    width: 192px;
    height: 100px;
    border: 2px inset silver;
    background-color: black;
}

.scoreboardArea {
    margin: auto;
}

.scoreboardContentScore {
    margin: 8px;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 60px;
    border: 2px inset silver;
    background-color: black;
    padding: 4px;
    padding-top: 2px;

}

.scoreboardContentGuesses {
    margin: 8px;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 80px;
    border: 2px inset silver;
    background-color: black;
    padding: 4px;
    padding-top: 2px;

}

.scoreboardText {
    margin: 0px;
    padding-top: 2px;
}

.giphy-embed {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 65px;
    height: 60px;
    width: 60px;
    background-color: black;
}